<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TPJSPFormation</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglib.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
	<servlet>
		<servlet-name>AllFormation</servlet-name>
		<servlet-class>com.doranco.controller.AllFormation</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AllFormation</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>